<div class="home-page">
  <div class="home-card quiz-card quiz-card-glow">
    <div class="quiz-logo home-logo">
      <div class="quiz-logo-icon">?</div>

      <div>
        <h1>QUIZ GAME</h1>
      </div>
    </div>

    <div class="home-actions">
      <button type="button" class="btn btn-primary" (click)="goToJoin()">
        Присоединиться к игре
      </button>

      <button type="button" class="btn btn-secondary" (click)="goToAdminPanel()">
        Перейти в админ-панель
      </button>
    </div>
  </div>
</div>