@if (!selectedQuestion || isBoardFading) {
  <div class="board-screen" [class.board-screen-fading]="isBoardFading">
    @if (!round) {
      <p>No round selected.</p>
    }

    @if (round) {
      <div class="category-board">
        @for (category of round.categories; track category.id) {
          <div
            class="category-row"
            [class.category-color-0]="getCategoryColorClass(category.id) === 'category-color-0'"
            [class.category-color-1]="getCategoryColorClass(category.id) === 'category-color-1'"
            [class.category-color-2]="getCategoryColorClass(category.id) === 'category-color-2'"
            [class.category-color-3]="getCategoryColorClass(category.id) === 'category-color-3'"
            [class.category-color-4]="getCategoryColorClass(category.id) === 'category-color-4'"
            [class.category-color-5]="getCategoryColorClass(category.id) === 'category-color-5'"
          >
            <div class="category-cell">
              <div class="category-name">{{ category.name }}</div>
            </div>

            <div
              class="questions-cells"
              [style.grid-template-columns]="'repeat(' + questionsColumnCount + ', minmax(120px, 1fr))'"
            >
              @if (category.questions.length === 0) {
                <div class="empty-question-cell">
                  No questions
                </div>
              }

              @for (question of category.questions; track question.id) {
                <button
                  type="button"
                  class="points-cell"
                  (click)="selectQuestion(question, category.name, category.description)"
                >
                  {{ question.points_per_question }}
                </button>
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
}

@if (selectedQuestion && !isBoardFading && isIntroScreen) {
  <div class="selected-question-screen intro-screen">
    <div class="intro-category">
      {{ selectedCategoryName }}
    </div>

    <div class="badge badge-blue intro-points">
      {{ selectedQuestion.points_per_question }} points
    </div>
  </div>
}

@if (selectedQuestion && !isBoardFading && !isIntroScreen) {
  <div class="selected-question-screen">
    <h1 class="question-text">
      {{ selectedQuestion.question }}
    </h1>

    @if (selectedQuestion.image) {
      <div class="question-image-url">
        <img src="/assets/img/{{ selectedQuestion.image }}"/>
      </div>
    }
  </div>
}